// Define background color variables
$background-light-gray: #f5f5f5;
$background-off-white: #fafafa;
$background-dark-gray: #333333;
$background-light-indigo: #e8eaf6;
$background-soft-pink: #fce4ec;

body {
  margin: 0;
  overflow: hidden;
}

.main-wrapper {
  background-color: $background-light-gray;
  height: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.left-wrapper {
  background-color: $background-light-indigo;
  max-width: 200px; // Set max-width for transition
  width: 100%;
  border-radius: 5px;
  transition: max-width 0.3s ease; // Smooth transition for max-width change
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center; // Center align the children
  justify-content: space-between;
}

.left-expanded {
  max-width: 150px; // Expanded max-width
}

.left-collapsed {
  max-width: 60px; // Collapsed max-width, adjust as needed
}

.right-wrapper {
  border-radius: 5px;
  background-color: $background-light-indigo;
  width: 100%;
}

mat-card-content {
  flex-grow: 1; // Allow the content to expand
}

.button-wrapper {
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
}

.mat-button-with-icon mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.mat-button {
  width: 100%;
}
